{% extends 'base.html'%}

{% block content %}
{% if request.user.is_authenticated %}
<a href="{% url 'add_card' %}">Add a new card</a>
  
<a href="{% url 'random_card' %}">Get a random Card</a>

<a href="accounts/logout">Logout</a>
{% endif %}


<hr>
{% if request.user.is_authenticated %}
{% for card in cards %}
    {% if  request.user == card.user  %}
    <p>{{card.question}}</p>
    <a href="{% url 'show_answer' card.pk %}">Show answer</a>
    {%endif%}
    <hr>
{% endfor %}
{%endif%}


{% endblock %}